
body{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/portfolio-cff15.appspot.com/o/wallpaper-de-surf%20(5).jpg?alt=media&token=654320b7-f2da-4e0c-8fe4-73889e48e2d7");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: burlywood;
  color: #fff;
  height: 98vh;
  width: 99vw;
}
div.app {
  display: grid;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 1fr 16fr;
}
div.links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: flex-start;
  margin-top: 10px;
  margin-left: 35vw;
  margin-right: 35vw;
  font-size: 20px;
  list-style: none;
}
:link{
  text-decoration: none;

}
div.body{
  display: flex;
  align-self: center;
  margin-bottom: 10px;
}