* {
  box-sizing: border-box;
}
body {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/portfolio-cff15.appspot.com/o/wallpaper-de-surf.jpg?alt=media&token=d26fbbca-6c61-47c9-873c-4cc01e3c9c2c") ;
  color: #fff;
}