div.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
/* div.home,
div.about,
div.resume,
div.works,
div.contacts {
    cursor: pointer;
    margin: 0px 5px 0px 5px;
    font-size: 22px;
    color:rgba(205, 210, 214, 0.815);
}

div.home:hover,
div.about:hover,
div.resume:hover,
div.works:hover,
div.contacts:hover
 {
    color:rgba(150, 183, 201, 0.61); 
    transition: all ease 0,6s;
} */
