.popup{
    position: fixed;
    top: 0px;;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup--inner{
    position:relative;
    padding: 30px;
    width: 50vw;
    max-width: 50vw;
    height: 70vh;
    background-color: #fff;
}
.popup--inner .close--btn {
    position: absolute;
    top: 16px;
    right: 16px;
}
