div.react-work{
    display: inline-flex;
    flex-direction: row;
    width: 98vw;
    justify-content: center;
    margin-top: 10vh;
    float: left;
}

.netflixFront img,
.hoqueiflixFront img,
.portfolioFront img {
    width: 220px;
    padding: 5px;
}
.netflixFront img:hover,
.hoqueiflixFront img:hover,
.portfolioFront img:hover {
    width: 225px;
}

div.react-work h2{
    margin: 0px;
}
div.react-work h2 img{
    display: flex;
    width: 55vw;
    height: 80vh;
    justify-content: center;
    margin-top: -3vh;
}